body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: black;
  }

  body > button {
    cursor: pointer;
  }

  body > button {
    display: flex;
    justify-content: flex-end;
    margin: 3vmin;
    padding: 0vmin;
    border: 0vmin;
    background-color: transparent;
    color: grey;
    font-size: 3vmin; 
  }

  body > button:hover {
    color: white;
  }

  
canvas {
    position: relative;
    /* width: 900px; */
    /* height: 900px; */
    background-color: #D9D9D9;

}
